obj/
bin/
.vshistory/
.vs/
000-attic/
*.user
node_modules
__pycache__
.ruff_cache/


# Don't check in any virtual environments
.venv


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.Trashes
*.metadata_never_index
no_log
WPSettings.dat
IndexerVolumeGuid
